In [1]:
import pandas as pd

df = pd.DataFrame([1,2,3,4,5])

df.describe()

              0
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000